.wrapper {
    position: relative;
    text-align: center;
    height: 100%;
    padding-bottom: 20px;
    margin: 1vw;
    h1 {
        padding-bottom: 1rem;
    }
    .actionButtons {
        position: absolute;
        top: .5em;
        right: 0px;
    }
    .addIcon {
        color: green;
        right: -1vw;
    }
}

.closeDialogIcon {
    position: absolute !important;
    top: 10px;
    right: 10px;
}

.addVolunteerDialogContent {
    text-align: center;
    .form {
        padding: 15px;
        .actions {
            text-align: center;
        }
        .submit {
            margin: 2rem;
            color: #de2f49;
            border-color: #de2f49;
            border-width: 2px;
            font-family: 'Lato', sans-serif;
            font-weight: 800;
            letter-spacing: 2px;
        }
        .buttonProgress {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -12px;
            margin-left: -12px;
        }
    }
}

.helpDialogContent {
    text-align: center;
    h4 {
        color: #e06051;
    }
}