.wrapper {
    position: relative;
    text-align: center;
    height: 100%;
    margin: 1vw;
    h1 {
        padding-bottom: 1rem;
    }
    h2 {
        padding: 2rem 0 .5rem 0;
    }
    .actionButtons {
        position: absolute;
        top: 1.5em;
        right: 0px;
        .addIcon {
            color: green;
            right: 6vw;
        }
        .settingsIcon {
            right: 3vw;
        }
    }
    .tableHead {
        font-weight: 900 !important;
    }
    .eventVolunteer {
        padding-bottom: 1.5rem;
    }
}

.closeDialogIcon {
    position: absolute !important;
    top: 10px;
    right: 10px;
}

.settingsDialogContent {
    text-align: center;
    h4 {
        color: #e06051;
    }
    .settingsForm {
        .action {
            color: #de2f49;
            border-color: #de2f49;
            border-width: 2px;
            font-family: 'Lato', sans-serif;
            font-weight: 800;
            letter-spacing: 2px;
        }
    }
}
.helpDialogContent {
    text-align: center;
    h4 {
        color: #e06051;
    }
    span {
        font-weight: 900;
    }
}

.zeroVolunteers {
    width: 100%;
    p {
        text-align: center;
    }
}