.wrapper {
    position: relative;
    text-align: center;
    height: 100%;
    .intro {
        h1 {
            margin-left: 20px;
            padding-top: 1rem;
        }
        background-color: #e06051;
        color: white;
        text-align: left;
        padding-top: 210px;
        z-index: -1;
    }
    .evt {
        padding-top: 5rem;
        padding-bottom: 3rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        .evtName {
            margin: 1rem;
            font-family: 'Lato', sans-serif;
            font-weight: 800;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        .evtDescription {
            font-weight: 100;
        }
    }
}