.wrapper {
    position: relative;
    text-align: center;
    padding-top: 150px;
    .form {
        padding: 15px;
        flex-grow: 1;
        button {
            margin: 2rem;
            color: #de2f49;
            border-color: #de2f49;
            border-width: 2px;
            font-family: 'Lato', sans-serif;
            font-weight: 800;
            letter-spacing: 2px;
        }
    }
}